* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    }

html {
    background: #343933;
    font-family: 'Oswald', sans-serif;
}

.background-image {
    float: left;
    width: 100%;
}

a { 
    color: #d4d2c5; 
    text-decoration:none; 
}

a:hover, a:focus {  
    color: #fff; 
}

article > h1, aside > h1 {
    color: #6e5a4c;
}

aside > h3, nav > h3 {
    color: #d4d2c5;
}

.announcement a {
    color: black;
}

.welcome a {
    color: white;
}

.welcome a:hover, .welcome a:focus {
    text-decoration: underline;
}

.announcement a:hover, .announcement a:focus {
    text-decoration: underline;
}

body p {
    color: #4c4c4c;
}

header {
    background: url(images/templatemo_header_bg.jpg);
}

.header-text {
    color: #d4d2c5;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-text h1 {
    padding: 50px;
    font-size: 4em;
    display: flex;
    align-items: center;
}

.header-text div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text p {
    font-weight: 300;
    color: #d4d2c5;
    text-align: right;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-item {
    padding: 10px;
    text-align: center;
    list-style-type: none;
    color: #d4d2c5;
	background: url(images/templatemo_menu_bg.jpg);
	border: 4px #323732 solid;
    border-top: none;
}

.left-sidebar {
    grid-area: sidebar;
    background-color: #323732;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
}

.left-sidebar h3 {
    border-top: 2px dashed #898c82;
    border-bottom: 2px dashed #898c82;
    padding: 10px;
    padding-left: 20px;
}
.recent-article {
    background: url(images/tempatemo_recent_article.jpg) no-repeat;
    height: 108px;
    width: 195px;
    margin-top: 15px;
}

.recent-article > h4, .recent-article p {
    color: white;
    text-align: right;
    padding-right: 10px;
}

.recent-article h4 {
    padding-top: 50px;
}

.recent-article p {
    font-weight: 300;
    font-size: .75em;
    padding-left: 25px;
}

.menu {
    grid-area: menu;
}

.welcome {
    grid-area: main;
    margin-top: 50px;
    margin-bottom: 20px;
}

.welcome h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome p {
    padding-bottom: 10px;
    font-weight: 300;
    font-size: .75em;
}

.popular-posts-gallery {
    grid-area: popular;
}

.popular-posts-gallery h1 {
    padding-bottom: 20px;
}

.gallery-box img {
    float: left;
    padding: 10px;
}

.gallery-box h3 {
    padding-top: 10px;
    margin-right: 5px;
    font-size: 1em;
}

.gallery-box p {
    font-weight: 300;
    padding-bottom: 10px;
    font-size: 1em;
}

.gallery-box {
    margin-bottom: 20px;
    border-top: 2px dashed #fff;
    border-bottom: 2px dashed #fff;
    background: #a2a091 url(images/gallery_box_bottom.jpg) bottom right no-repeat;
}

.announcement-gallery {
    grid-area: announcement;
    margin-left: 40px;
}

.announcement-gallery > h1 {
    padding-bottom: 20px;
}

.announcement-gallery p {
    padding-bottom: 20px;
}

.announcement-gallery h4 {
    padding-bottom: 5px;
}

.announcement-gallery > div {
    padding-top: 20px;
    padding-left: 20px;
}


.announcement-container {
    background: url(images/templatemo_2_column_right_bg.jpg) top no-repeat;
    width: 235px;
    height: 177px;
}

main {
    background: #aeac9c url(images/templatemo_background_section_mid_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-template-areas:
    ". sidebar menu menu ." 
    ". sidebar main main ."
    ". sidebar popular announcement .";
    background: transparent;
}

.useful-links-container, .services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.useful-links-container li, .services-container li {
    list-style-type: none; 
    padding: 3px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    border-top: 10px solid #6e5a4c;
    color: #d0cec2;
}

footer p, footer a {
    color: #d0cec2;
}

footer p {
    font-size: .75em;
}

.W3C {
    padding: 20px;
}

footer a:hover {
	color: #FFFF00;
	text-decoration: underline;
}

.contact {
    display: flex;
    flex-direction: row;
}

.contact p {
    padding: 10px;
}

.footer-text h4 {
    font-size: .75em;
    padding-left: 10px;
    padding-top: 20px;
}

footer p {
    padding-left: 10px;
}

.footer-text :nth-child(4) {
    padding-bottom: 20px;
}